/* Establece una imagen de fondo con un degradado oscuro */
body {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.8)
  ), url('assets/img/wp.jpg'); /* Ruta de la imagen de fondo */
  background-repeat: no-repeat; /* Evita la repetición de la imagen de fondo */
  background-position: center center; /* Centra la imagen de fondo */
  background-attachment: fixed; /* Fija la imagen de fondo al desplazarse */
}

/* Estilo para los títulos h2 */
h2 {
  color: white; /* Color blanco para el texto */
  margin: 30px; /* Márgenes alrededor del título */
  margin-top: 80px; /* Márgen superior adicional */
}

/* Estilo para las líneas divisorias */
hr {
  color: whitesmoke; /* Color de la línea divisorias */
}

/* Estilo para los contenedores principales */
.container {
  display: flex; /* Utiliza el modelo de caja flexible */
  flex-wrap: wrap; /* Envuelve los elementos en múltiples líneas */
  justify-content: space-between; /* Distribuye uniformemente los elementos con espacio entre ellos */
}

/* Estilo para las secciones */
.section {
  width: 100%; /* Ancho completo */
  margin-bottom: 20px; /* Márgen inferior */
  text-align: center; /* Centra el contenido */
}

/* Estilo para los contenedores de tarjetas */
.card-container {
  display: flex; /* Utiliza el modelo de caja flexible */
  flex-wrap: wrap; /* Envuelve los elementos en múltiples líneas */
  justify-content: center; /* Centra los elementos */
}

/* Estilo para las tarjetas */
.card {
  width: 300px; /* Ancho fijo para las tarjetas */
  margin: 10px; /* Márgenes alrededor de las tarjetas */
}

/* Estilo para las imágenes dentro de las tarjetas */
.card img {
  width: 100%; /* Ancho completo */
  height: 400px; /* Altura fija para las imágenes */
}
